In [19]:
numero_studenti = 25
print("Il numero di studenti è:", numero_studenti)

Il numero di studenti è: 25

In [20]:
altri_studenti = 3

# Calcolare il nuovo numero totale di studenti
nuovo_numero_studenti = numero_studenti + altri_studenti

# Stampare il nuovo numero di studenti
print("Il nuovo numero di studenti è:", nuovo_numero_studenti)

Il nuovo numero di studenti è: 28

In [29]:
nome_scuola = "Epicode"
print("Contenuto della variabile:", nome_scuola)
print("Primo carattere:", nome_scuola[0])
print("Primi tre caratteri:", nome_scuola[0:3])

Contenuto della variabile: Epicode
Primo carattere: E
Primi tre caratteri: Epi

In [9]:
# Slicing per ottenere una sottostringa
porzione_stringa = nome_scuola[2:5]

# Stampa della sottostringa
print("Sottostringa:", porzione_stringa)

Sottostringa: ico

In [21]:
# Creazione della lista da 0 a 5
numeri_da_0_a_5 = [0, 1, 2, 3, 4, 5]

# Stampa della lista
print(numeri_da_0_a_5)

[0, 1, 2, 3, 4, 5]

In [10]:
# Metodo con gli operatori di assegnazione
x = 10
x += 2  # Incrementa di 2
x *= 3  # Moltiplica per 3
print("Risultato con operatori di assegnazione:", x)

Risultato con operatori di assegnazione: 36

In [32]:
# Metodo senza operatori di assegnazione
x = 10
x = x + 2  
x = x * 3  
print("Risultato senza operatori di assegnazione:", x)

Risultato senza operatori di assegnazione: 36